---
layout: default
title: Mobs
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

	<table>
		<tr>
		<th>Mob</th>
		<th>Description</th>
		<th>Passive percep.</th>
		<th>Loot</th>
		</tr>
		{%- for mob_hashes in site.data.mobs -%}
		{%- assign mob_id = mob_hashes[0] -%}
		{%- assign mob = mob_hashes[1] -%}
		{%- assign mob_name = mob_id | capitalize -%}
		{%- assign mob_pages  = site.mobs | where: "mob", mob_id -%}
			<tr>
				<td>{{ mob_name }}</td>
				{%- if mob_pages.size > 0 -%}
						<td><a href="{{ mob_pages[0].url | relative_url }}" title="Loot: {{ mob.loot }}">{{mob.desc}}</a></td>
				{%- else -%}
				<td><span title="Loot: {{ mob.loot }}">{{ mob.desc }}</span></td>
				{%- endif -%}
				<td>{{ mob.pp }}</td>
				<td>{{ mob.loot }}</td>
			</tr>
		{%- endfor -%}
	</table>



  {{ content }}

</div>
